<p id="notice"><%= notice %></p>

<h3>Playlists</h3>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Playlist name</th>
      <th>User</th>
      <th>Number of songs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= playlist.name %></td>
        <td><%= playlist.user.name %></td>
        <td><%= playlist.song.count %></td>
        <td><%= link_to 'Show', playlist, class: 'btn btn-success btn-sm'%></td>
        <td><%= link_to 'Edit', edit_playlist_path(playlist), class: 'btn btn-success btn-sm'%></td>
        <td><%= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create a New Playlist', new_playlist_path, class: 'btn btn-warning btn-lg btn-block' %>
